* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color1: #335c67;
  --color2: #fff3b0;
  --color3: #e09f3e;
  --color4: #9e2a2b;
  --color5: #540b0e;
  --shadow: 0.15rem 0.5rem 1rem black;
  --textShadow: 0.15rem 0.25rem 1.15rem black;
}
body {
  width: 100vw;
  height: 100vh;
  background: var(--color1);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color5);
  color: white;
  height: 3.5rem;
  box-shadow: var(--textShadow);
}
nav a {
  text-decoration: none;
  border: 0.125rem solid transparent;
  padding: 0.25rem;
  border-radius: 0.5rem;
  background: var(--color2);
  transition: 0.25s;
}
nav a:hover {
  transition: 0.25s;
  background: var(--color3);
  border-radius: 0.125rem;
  box-shadow: 0.25rem 0.25rem 0.1rem black;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.row .col1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(calc(1 / 6) * 100%);
  height: 100%;
}
.row .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(calc(2 / 6) * 100%);
  height: 100%;
}
.row .col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(calc(3 / 6) * 100%);
  height: 100%;
}
.row .col4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(calc(4 / 6) * 100%);
  height: 100%;
}
.row .col5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(calc(5 / 6) * 100%);
  height: 100%;
}
.row .col6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(calc(6 / 6) * 100%);
  height: 100%;
}
.row.space-even {
  justify-content: space-evenly;
}
.right-divide {
  border-right: medium solid white;
  padding-right: 1rem;
}
